<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= data.app.label %></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/clientUtils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/appIndex.css">
</head>

<body >
    <div class="app-container" id="app-container-<%= data.app.id %>">
        <header class="app-header">
            <p><%= data.app.label %></p>
        </header>
        <div id="form-container" class="form-container-hidden">
        </div>
        <div class="record-list-view-container">
            <ul id="pagination-controls" class="pagination-controls">
                <li id="total-records">Total records : 0</li>
                <li id="add-new"><button onclick="clientUtils.methods.getFormAndRender('create', '<%= data.model.id %>')">+</button></li>
                <li id="before"><button onclick="clientUtils.methods.getRecordsList(1, '<%= data.model.id %>')"><</button></li>
                <li id="current-page">1</li>
                <li id="after"><button onclick="clientUtils.methods.getRecordsList(2, '<%= data.model.id %>')">></button></li>
                <li id="record-per-page">
                    <select onchange="clientUtils.methods.getRecordsList(1, this.value, '<%= data.model.id %>')">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </li>
            </ul>
            <div id="record-list-view" class="record-list-view">
            </div>
        </div>
        <div id="chart-container" class="chart-container">

        </div>
        <div class="footer" id="footer"></div>
    </div>
    
    <script>
        clientUtils.data.baseURL = '<%- data.baseURL %>';
        clientUtils.data.app = <%- JSON.stringify(data.app) %>;
        clientUtils.data.company = <%- JSON.stringify(data.company) %>;
        clientUtils.data.models['<%- data.model.id %>'] = <%- JSON.stringify(data.model) %>;
        async function load() {
            await clientUtils.methods.getRecordsList(1, 10, '<%= data.model.id %>');
            await clientUtils.methods.getChartAndRender('<%= data.model.id %>');
        }
        load();
    </script>
    <div id="notification-popup"></div>
    
    <script>
        function updateDateTime() {
            const now = new Date();
            const formattedDate = now.toLocaleDateString();
            const formattedTime = now.toLocaleTimeString();
            document.getElementById('footer').innerText = `${formattedDate} ${formattedTime}`;
        }
    
        setInterval(updateDateTime, 1000);
    </script>
</body>
</html>